<div>
  <p>Number: {{ counter }}</p>
  <button class="btn btn-primary btn-first" (click)="increment()">Increment</button>
  <button class="btn btn-primary" (click)="decrement()">Decrement</button>
</div>